###################################################
## School: University of Massachusetts Dartmouth
## Department: Computer and Electrical Engineering
## Engineer: Daniel Noyes
## 
## Create Date:    SPRING 2015
## Module Name:    VGA Color User Constraint File
## Project Name:   VGA Color
## Target Devices: Spartan-3E
## Tool versions:  Xilinx ISE 14.7
## Description:
##    Nexys 2 Pin Assignments
##    
###################################################

#50MHz period constant
NET "CLK" PERIOD = 20.0ns HIGH 50%;
#Clock Assignment
NET "CLK" LOC = B8 | IOSTANDARD = LVTTL;

##Button Assignment
NET "RST" LOC = B18;

##Switch Assignment
#NET "SW<0>" LOC = G18;
#NET "SW<1>" LOC = H18;
#NET "SW<2>" LOC = K18;
#NET "SW<3>" LOC = K17;
#NET "SW<4>" LOC = L14;
#NET "SW<5>" LOC = L13;
#NET "SW<6>" LOC = N17;
#NET "SW<7>" LOC = R17;

##LED ASCII Assignment
NET "ASCII_D<0>" LOC = J14;
NET "ASCII_D<1>" LOC = J15;
NET "ASCII_D<2>" LOC = K15;
NET "ASCII_D<3>" LOC = K14;
NET "ASCII_D<4>" LOC = E16;
NET "ASCII_D<5>" LOC = P16;
NET "ASCII_D<6>" LOC = E4;
NET "ASCII_D<7>" LOC = P4;

##PS/2 Assignment
NET "PS2_CLK"  LOC = R12;
NET "PS2_DATA" LOC = P11;

##VGA Assignment
#8-bit color(256 options), only need 3-bit just use the 510ohm connects
Net "VGARED<0>" LOC = R9; #2Kohm  to RED
Net "VGARED<1>" LOC = T8; #1Kohm  to RED
Net "VGARED<2>" LOC = R8; #510ohm to RED
Net "VGAGRN<0>" LOC = N8; #2Kohm  to GREEN
Net "VGAGRN<1>" LOC = P8; #1Kohm  to GREEN
Net "VGAGRN<2>" LOC = P6; #510ohm to GREEN
Net "VGABLU<0>" LOC = U5; #1Kohm  to BLUE
Net "VGABLU<1>" LOC = U4; #510ohm to BLUE
Net "HSYNC" LOC = T4;
Net "VSYNC" LOC = U3;
