###################################################
## School: University of Massachusetts Dartmouth
## Department: Computer and Electrical Engineering
## Engineer: Daniel Noyes
## 
## Create Date:    SPRING 2015
## Module Name:    counter user constraint file
## Project Name:   CLOCK COUNTER
## Target Devices: Spartan-3E
## Tool versions:  Xilinx ISE 14.7
## Description:
##    Nexys 2 Pin Assignments
##    
###################################################


NET "CLK" LOC = B8;

#LED Assignment
NET "LED<0>" LOC = J14;
NET "LED<1>" LOC = J15;
NET "LED<2>" LOC = K15;
NET "LED<3>" LOC = K14;
NET "LED<4>" LOC = E16;
NET "LED<5>" LOC = P16;
NET "LED<6>" LOC = E4;
NET "LED<7>" LOC = P4;

##Secondary LED Assignment incase you have the s3e500
##NET "LED<4>" LOC = E17;
##NET "LED<5>" LOC = P15;
##NET "LED<6>" LOC = F4;
##NET "LED<7>" LOC = R4;

#Switch Assignment
NET "SW<0>" LOC = G18;
NET "SW<1>" LOC = H18;

#Button Assignment
NET "BTN" LOC = B18;
